<ion-view view-title="Documentos">
   <ion-content class="post-content">
   	<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="row assertive">
		<div class="card col home" ng-show="!arquivo_selecionado">
			<a class="item item-text-wrap item-home" ng-click="camera()">
				<h1><i class="icon icon-camera"></i></h1>
				<h2>Camera</h2>
			</a>
		</div>
		<div class="card col home" ng-show="!arquivo_selecionado">
			<a class="item item-text-wrap item-home" ng-click="imagem()">
				<h1><i class="icon icon-galery"></i></h1>
				<h2>Galeria</h2>
			</a>
		</div>
		<form ng-show="arquivo_selecionado">
	  		<input type="text" name="nome" id="nome" ng-model="nome" placeholder="Nome do documento">
	  		<input type="hidden" name="file" id="file"  ng-model="file">
	  		<input type="hidden" name="bin" id="bin"  ng-model="bin">
	  		<input type="button" name="submit" value="Salvar" ng-click="salvar_documento()">
	  	</form>
	  	<img id="myImage"/>
	</div>
	<div class="list" ng-repeat="image in images" >
		<a href="#" class="item item-thumbnail-left">
			<img ng-src="data:image/jpeg;base64,{{images[$index].bin}}">
			<h2>{{images[$index].nome}}</h2>
			<p>2 hours ago</p>
		</a>
	</div>	
    
      
   
        <ion-infinite-scroll ng-if="postsCompleted == false" distance="10%">
     	</ion-infinite-scroll>
</ion-content>
</ion-view>
