<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Cadastrar</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login_local()">
     
     <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nome</span>
    <input type="text" placeholder="Nome" id="nome">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nome da empresa</span>
    <input type="text" placeholder="empresa" id="Empresa">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" id="email" placeholder="example@example.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Telefone</span>
    <input type="text" id="telefone" placeholder="telefone">
  </label>
  

<label class="item item-input item-stacked-label">
    <span class="input-label">Endereço do Evento</span>
    <input type="text" id="enderecoEv" placeholder="Endereço do evento">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Nº de pessoas</span>
    <input type="text" id="pessoas" placeholder="Pessoas">
  </label>

<label class="item item-input item-stacked-label">
    <span class="input-label"> Tipo de Evento </span>
    <input type="text" id="tipo" placeholder="tipo">
  </label>

<label class="item item-input item-stacked-label">
    <span class="input-label">Data do evento</span>
    <input type="date" id="data">
  </label>

<label class="item item-input item-stacked-label">
    <span class="input-label">Horário de Início</span>
    <input type="time" id="horaInicio">
  </label>

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Horário de término</span>
    <input type="time" id="horaTermino">
  </label>



<label class="item item-input item-stacked-label">
    <span class="input-label">Sua mensagem</span>
    <textarea placeholder="Sua mensagem" cols="50" rows="6"> </textarea>
  </label>

</div>

    </form>
          <button class="button button-block button-positive" ng-click="doLogin()" type="submit" ng-click="salva_cadastro()">Cadastrar</button>
          <div id="listTable"></div>
  </ion-content>
</ion-modal-view>
