<ion-content ng-controller="MapController">
    <div id="map" data-tap-disabled="true"></div>
		<button class="button button-full button-positive" ng-show="!mostrar_filtros">
		  Mostrar Filtros
		</button >

	  <ion-list ng-show="mostrar_filtros">
	    <ion-checkbox ng-model="filter.doces">Doces</ion-checkbox>
	    <ion-checkbox ng-model="filter.salgados">Salgados</ion-checkbox>
	    <ion-checkbox ng-model="filter.bolos">Bolos</ion-checkbox>
	    <ion-checkbox ng-model="filter.sem-lactose">Sem-Lactose</ion-checkbox>
	    <ion-checkbox ng-model="filter.sem-gluten">Sem-Gluten</ion-checkbox>
	    <ion-checkbox ng-model="filter.vegano">Vegano</ion-checkbox>
	  </ion-list>
	  
    <div class="list" >
		<a href="#app/zip/{{hotel.factual_id}}" class="item item-thumbnail-left">
			<img ng-src="images/logo_pqn.png">
			<h2>Amanda</h2>
			<p>Rua tutoia, 1557  distancia 10.3 mts</p>
			<p>Tags: Doces, Salgados, Sem-Gluten</p>
			<p>986993010</p>
			<p>amanda@cafe.com </p>
		</a>

		<a href="#app/zip/{{hotel.factual_id}}" class="item item-thumbnail-left">
			<img ng-src="images/logo_pqn.png">
			<h2>Julia</h2>
			<p>Rua tutoia, 1557  distancia 3.2 mts</p>
			<p>Tags: Doces, Salgados</p>
			<p>986993010</p>
			<p>julia@cafe.com </p>
		</a>

		<a href="#app/zip/{{hotel.factual_id}}" class="item item-thumbnail-left">
			<img ng-src="images/logo_pqn.png">
			<h2>Camila</h2>
			<p>Rua tutoia, 1557  distancia 16.3 mts</p>
			<p>Tags: Doces, Vegana</p>
			<p>986993010</p>
			<p>camila@cafe.com </p>
		</a>
	</div>	
</ion-content>