<ion-content>
   <div class="main-sidebar-profile">
      <div class="profile-info">
          <img id="profile-image" ng-src="{{user.pic}}">
          <a menu-close-keep-history="" href="#/app/profile" class="profile-name">{{user.nome}}</a>
      </div>
    </div>

    <div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Endereço
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Telefone
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-person"></i>
    Nome
  </a>

   <a href="#" class="item item-icon-left">
    <i class="icon ion-email"></i>
    Email
  </a>


</div>


</ion-content>