<ion-view view-title="{{user.nome}}">
   <ion-content has-header="true">
      <div id="content">
      <div class="list">
        <div class="text-center">
         <button class="button button-positive button-inserir" ng-show="!inserir_nova" ng-click="nova_info()">
              Novo produto
       </button>
       
        <br>

        <h5>Produtos:</h5>
        <div ng-repeat="info in infos" class="item item-icon-left" >
          <i class="icon ion-ios-help"></i>
          {{info.nome}} <br>
          {{info.valor}} R$ <br>
          Tags: Vegano, Doces
        </div>
        <div class="list">
        <form method="post" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate="" ng-show="inserir_nova">
            <label class="item item-input">
              <input required="" id="nome_info" name="nome_info" type="text" placeholder="Produto">
              <span ng-message="" class="warning-message-normal" ng-show="postForm.nome.$invalid &amp;&amp; postForm.nome.$dirty">Obrigatorio</span>
            </label>
            <label class="item item-input">
              <input required="" type="number" id="valor_info" name="valor_info" placeholder="Valor" value="">
              <span ng-message="" class="warning-message-normal" ng-show="postForm.valor.$invalid &amp;&amp; postForm.valor.$dirty">Obrigatorio</span>
            </label>
              <ion-list ng-show="mostrar_filtros">
                <ion-checkbox ng-model="filter.doces">Doces</ion-checkbox>
                <ion-checkbox ng-model="filter.salgados">Salgados</ion-checkbox>
                <ion-checkbox ng-model="filter.bolos">Bolos</ion-checkbox>
                <ion-checkbox ng-model="filter.sem-lactose">Sem-Lactose</ion-checkbox>
                <ion-checkbox ng-model="filter.sem-gluten">Sem-Gluten</ion-checkbox>
                <ion-checkbox ng-model="filter.vegano">Vegano</ion-checkbox>
            </ion-list>

            <button class="button button-block button-positive" ng-click="salva_info()">
              Salvar
            </button>
          </form>
      </div>
      </div>
    </ion-content>
   
</ion-view>