<ion-view view-title="Contato" class="grey_bg">
  	<ion-content padding="10">
      <div class="list">
      	<form method="post" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate="">
        		<label class="item item-input">
            	<input required="" ng-model="user.name" name="name" type="text" placeholder="Nome">
            	<span ng-message="" class="warning-message-normal" ng-show="postForm.name.$invalid &amp;&amp; postForm.name.$dirty">obrigatorio</span>
        		</label>
        		<label class="item item-input">
          		<input required="" type="email" ng-model="user.email" name="email" placeholder="Email" value="">
        		</label>
            
        		<span ng-message="" class="item item-input warning-message-normal" ng-show="postForm.email.$error.required &amp;&amp; postForm.email.$dirty">obrigatorio</span>
        		<span ng-message="" class="item item-input warning-message-normal" ng-show="postForm.email.$error.email &amp;&amp; postForm.email.$dirty">This is not a valid email.</span>
        		<label class="item item-input">
            	<textarea required="" ng-model="user.details" name="details" placeholder="Mensagem"></textarea>
            	<span ng-message="" class="warning-message-normal" ng-show="postForm.details.$invalid &amp;&amp; postForm.details.$dirty">obrigatorio</span>
        		</label>
        		<button class="button button-block button-assertive">
          		Enviar
        		</button>
        	</form>
      </div>
  </ion-content>
</ion-view>