<ion-content ng-controller="MapController">
    <div id="map" data-tap-disabled="true"></div>
    <div class="list" ng-repeat="hotel in hoteis" >
		<a href="#app/zip/{{hotel.factual_id}}" class="item item-thumbnail-left">
			<img ng-src="images/logo_pqn.png">
			<h2>{{hotel.name}}</h2>
			<p>{{hotel.address}}(distancia {{hotel.$distance}} mts)</p>
			<p>{{hotel.tel}}</p>
			<p>{{hotel.email}} </p>
		</a>
	</div>	
</ion-content>