<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content >
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-search" menu-toggle="left" ng-show="isVisible">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" >
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Pesquisa Avancada</h1>
    </ion-header-bar>
    <ion-content>
      <div class="main-sidebar-profile">
        <div class="profile-info">
          <img id="profile-image" ng-src="{{user.pic}}">
          <a menu-close-keep-history="" href="#/app/profile" class="profile-name">{{user.nome}}</a>
        </div>
      </div>
      <ion-list>
        <ion-item menu-close href="#/app/profile">
          Home
        </ion-item>
        
        <ion-item menu-close href="#/app/map">
          Hoteis proximos
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Documentos
        </ion-item>
        <ion-item menu-close href="#/app/contato">
          Contato
        </ion-item>
         <ion-item menu-close href="#/app/logoff">
          Logoff
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
