<ion-view view-title="{{user.nome}}">
   <ion-content has-header="true">
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="./profile_files/darts-102919_1280.jpg">
          <h3 id="profile-name">{{user.nome}}</h3>
          <span id="profile-description">
          	... 
             <a href="http://twitter.com/weblogtemplates">
             	<i class="icon ion-social-facebook"></i>
             </a>
			</span>
        </div>
      </div>
      <div class="list">
      <button class="button button-block button-assertive" ng-show="!inserir_nova" ng-click="nova_info()">
          		Nova info
       </button>
      	<form method="post" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate="" ng-show="inserir_nova">
        		<label class="item item-input">
            	<input required="" id="nome_info" name="nome_info" type="text" placeholder="nome">
            	<span ng-message="" class="warning-message-normal" ng-show="postForm.nome.$invalid &amp;&amp; postForm.nome.$dirty">Obrigatorio</span>
        		</label>
        		<label class="item item-input">
          		<input required="" type="text" id="valor_info" name="valor_info" placeholder="valor" value="">
          		<span ng-message="" class="warning-message-normal" ng-show="postForm.valor.$invalid &amp;&amp; postForm.valor.$dirty">Obrigatorio</span>
        		</label>
            
        		
        		
        		<button class="button button-block button-assertive" ng-click="salva_info()">
          		salvar
        		</button>
        	</form>
      </div>
      <div class="list">
      	
        <div ng-repeat="info in infos" class="item item-icon-left" >
          <i class="icon ion-ios-help"></i>
          {{info.nome}} : {{info.valor}}
        </div>
      
       
        <a class="item">
          <input type="text" id="cep" name="cep" placeholder="CEP"><small>*preencher com cep</small>
        </a>
        <a class="item">
          <input type="text" id="rua" name="rua" placeholder="endereco" value="{{endereco.rua}}">Numero : <input type="text" name="numero" id="numero" placeholder="numero">
        </a>

        <a class="item">
           <input type="text" id="bairro" name="bairro" placeholder="bairro" value="{{bairro}}">
        </a>

        <a class="item">
           <input type="text" id="cidade" name="cidade" placeholder="cidade" value="{{cidade}}">
           <input type="text" id="uf" name="uf" placeholder="uf" value="{{uf}}">
        </a>
        <button class="button button-block button-assertive" ng-click="salva_endereco()">
          		salvar endereco
        </button>
      </div>
    </ion-content>
   
</ion-view>