   <input type="button" value="Camera" ng-click="camera()" >
    <input type="button" value="Aparelho" ng-click="imagem()" >
  	<form >
  		<input type="text" name="nome" id="nome" ng-model="nome">
  		<input type="text" name="file" id="file"  ng-model="file">
  		<input type="hidden" name="bin" id="bin"  ng-model="bin">
  		<input type="button" name="submit" value="Salvar" ng-click="salvar_documento()">
  	</form>
  	<img id="myImage"/>

 
          <div id="listTable"></div>
          <hr>
          <h3>imagens do firebase</h3>
			<div class="row" ng-repeat="image in images" >
	            <div class="col col-25">
	                <img ng-src="data:image/jpeg;base64,{{images[$index].bin}}" width="100%" />
	            </div>
        	</div>